@font-face {
	font-family: 'notera';
	src: url('../fonts/subset-NoteraPersonalUseOnly.eot');
	src: url('../fonts/subset-NoteraPersonalUseOnly.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-NoteraPersonalUseOnly.woff2') format('woff2'),
		url('../fonts/subset-NoteraPersonalUseOnly.woff') format('woff'),
		url('../fonts/subset-NoteraPersonalUseOnly.ttf') format('truetype'),
		url('../fonts/subset-NoteraPersonalUseOnly.svg#NoteraPersonalUseOnly') format('svg');
	font-weight: normal;
	font-style: normal;
}


